[submodule "dep/home-manager"]
	path = dep/home-manager
	url = https://github.com/rycee/home-manager.git
	branch = release-19.03
[submodule "dep/nixpkgs"]
	path = dep/nixpkgs
	url = https://github.com/NixOS/nixpkgs-channels.git
	branch = nixos-19.09
[submodule "dep/obelisk"]
	path = dep/obelisk
	url = https://github.com/obsidiansystems/obelisk.git
	branch = master
[submodule "dep/spacemacs"]
	path = dep/spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = master
[submodule "dep/nixpkgs-mozilla"]
	path = dep/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "dep/nixos-hardware"]
	path = dep/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
